[Desktop Entry]
Version=1.0
Type=Link
Name=aula09.jsx
Comment=
Icon=user-bookmarks
URL=file:///home/turma-2ds/%C3%81rea%20de%20Trabalho/MOBILE/aulas/src/aula08.jsx
